<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                A backend developer who thrives on building scalable systems and solving complex challenges. I'm always eager to learn new skills,
                grow through new environments, and connect with people I can learn from and collaborate with. 
            </p>
        </div>
    </section>
</div>
