<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="Rest API" class="semi-transparent-button with-border white-button" onclick="selected('Rest API')">Rest API</a>
                    <a id="Business" class="semi-transparent-button with-border white-button" onclick="selected('Business')">Business</a>
                    <!-- <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a> -->
                    <!-- <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a> -->

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>